<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>public.NodeNativeModule</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template creates a native node module that uses NAN.</string>
	<key>ProjectOnly</key>
	<true/>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Product Name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Description</key>
			<string>Your new product&apos;s name</string>
			<key>EmptyReplacement</key>
			<string>ProductName</string>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict/>
			<key>Release</key>
			<dict/>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>nan.h</string>
		<string>___PROJECTNAMEASIDENTIFIER___.h</string>
		<string>___PROJECTNAMEASIDENTIFIER___.cc</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>nan.h</key>
	    <dict>
		    <key>Path</key>
		    <string>nan.h</string>
		    <key>Group</key>
			<string>Headers</string>
	    </dict>
        <key>___PROJECTNAMEASIDENTIFIER___.h</key>
	    <dict>
		    <key>Path</key>
		    <string>module.h</string>
		    <key>Group</key>
			<string>Headers</string>
	    </dict>
	    <key>___PROJECTNAMEASIDENTIFIER___.cc</key>
	    <dict>
		    <key>Path</key>
		    <string>module.cc</string>
		    <key>Group</key>
			<string>Sources</string>
	    </dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.library.dynamic</string>
	        <key>SharedSettings</key>
	        <dict>
	        	<key>PRODUCT_NAME</key>
	            <string>___PROJECTNAMEASIDENTIFIER___</string>
	            <key>ARCHS</key>
				<string>$(NATIVE_ARCH_ACTUAL)</string>
				<key>LINK_WITH_STANDARD_LIBRARIES</key>
				<string>NO</string>
	            <key>SDKROOT</key>
	            <string></string>
	            <key>EXECUTABLE_EXTENSION</key>
	            <string>node</string>
	            <key>HEADER_SEARCH_PATHS</key>
	            <array>
	            	<string>$(NODE_SRC)/deps/uv/include</string>
	            	<string>$(NODE_SRC)/deps/v8/include/**</string>
	            	<string>$(NODE_SRC)/src/**</string>
	            </array>
	            <key>OTHER_LDFLAGS</key>
	            <array>
	            	<string>-undefined</string>
	            	<string>dynamic_lookup</string>
	            </array>
	            <key>PUBLIC_HEADERS_FOLDER_PATH</key>
	            <string>/usr/local/include</string>
	            <key>SKIP_INSTALL</key>
				<string>YES</string>
	        </dict>
	        <key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Headers</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
